<link rel="stylesheet" href="navStylesheet.css">

<nav class="navbar navbar-light bg-light">
  
  <form class="form-inline">
    <a class="btn btn-primary" href="/products" role="button"> Headsets </a>
    <div style="padding-left: 10px;">
      <button class="btn btn-primary" type="button">Prepay Options</button>
    </div>
    <div style="padding-left: 10px;">
      <button class="btn btn-primary" type="button">Subscriptions</button>
    
    </div>
  </form>
</nav>
